<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengxin.mapper.MenuMapper">
    <resultMap id="menus" type="com.pengxin.pojo.Menu">
        <id column="id" property="id"></id>
        <result column="href" property="href"></result>
        <result column="icon" property="icon"></result>
        <result column="name" property="name"></result>
        <result column="parent_id" property="parentId"></result>
        <result column="description" property="description"></result>
        <result column="orderNum" property="order_num"></result>
        <result column="shown" property="shown"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="created_by" property="createdBy"></result>
        <result column="updated_by" property="updatedBy"></result>
        <collection property="subMenuList" ofType="com.lagou.domain.Menu" select="findAllMenu" column="id" ></collection>
    </resultMap>
    <select id="findAllMenu" resultMap="menus">
        select * from menu where parent_id=#{pid}
    </select>

    <!--根据角色ID查询关联的菜单信息-->
    <select id="findMenuById" resultType="string" parameterType="int">
        select m.id
        FROM role_menu_relation rm LEFT JOIN  menu m  ON m.id=rm.menu_id
                                   LEFT JOIN  roles r ON r.id=rm.role_id
        where r.id=#{id}
    </select>
    <!--查询所有的菜单信息-->
    <select id="findMenuAll" resultType="com.pengxin.pojo.Menu">
        select * from menu
    </select>
    <!--根据id查询所有的菜单信息-->
    <select id="findSubMenuListByPid" parameterType="int" resultType="com.pengxin.pojo.Menu">
        select * from menu where parent_id=#{id}
    </select>

    <select id="findMenuAndId" resultType="com.pengxin.pojo.Menu" parameterType="int">
        select * from menu where  id=#{id}
    </select>

</mapper>