<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengxin.mapper.UserMapper">
    <select id="findAllUserByPage"  resultType="com.pengxin.pojo.User">
        SELECT
        id,NAME,portrait, phone,PASSWORD,STATUS,create_time FROM USER
        <where>
            <if test="true">
                and is_del!=1
            </if>
            <if test="username!=null and username!='' ">
                and name=#{username}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time BETWEEN #{startCreateTime} AND #{endCreateTime}
            </if>
        </where>
    </select>

    <!--更新用户状态信息-->
    <update id="updateUserStatus" parameterType="com.pengxin.pojo.User">
        update user set status,update update_time=#{update_time} where id=#{id}
    </update>

    <!--用户登录-->
    <select id="login" resultType="com.pengxin.pojo.User" parameterType="com.pengxin.pojo.User">
        select * from  user phone=#{phone}
    </select>
    <!--根据id号查询用户当前角色-->
    <select id="findRolesById" parameterType="int" resultType="com.pengxin.pojo.Role">
        SELECT *
        FROM roles r INNER JOIN user_role_relation ur
            ON r.id = ur.role_id INNER JOIN USER u ON ur.user_id = u.id WHERE u.id= #{id}
    </select>
    <!--根据id先删除关联的中间表信息-->
    <delete id="deleteUserContextRole" parameterType="int">
        delete from user_role_relation where user_id=#{userid}
    </delete>
    <!--分配角色-->
    <insert id="adduserContextRole" parameterType="com.pengxin.pojo.User_Role_relation">
        insert into user_role_relation values(null,#{userId},#{roleId},# {createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!--	根据角色id,查询角色拥有的顶级菜单信息	-->
    <select id="findParentMenuByRoleId" parameterType="java.util.List" resultType="com.lagou.domain.Menu">
        SELECT
        DISTINCT	m.*
        FROM roles r INNER JOIN role_menu_relation rm ON r.`id` = rm.role_id INNER JOIN menu m ON rm.menu_id = m.id
        WHERE m.parent_id = -1 AND r.id IN
        <foreach	collection="list" item="item"	open="(" separator=","
                    close=")">
            #{item}
        </foreach> GROUP BY m.id
    </select>

    <!-- 根据PID 查找子菜单 -->
    <select id="findSubMenuByPid" resultType="com.lagou.domain.Menu">
        select * from menu where parent_id = #{pid}
    </select>
    <!--	获取用户拥有的资源权限	-->
    <select id="findResourceByRoleId" parameterType="java.util.List" resultType="com.lagou.domain.Resource">
        SELECT DISTINCT rc.*
        FROM roles r	INNER JOIN role_resource_relation rrr ON r.`id` = rrr.`role_id`
        INNER JOIN resource rc ON rrr.`resource_id` = rc.`id` WHERE r.id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach> GROUP BY rc.id;
    </select>
</mapper>